body{
    font-family: 'Nono Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
td{
    padding: 0;
}
img{
    border: 0;
}
table{
    border-spacing: 0;
}
.wrapper{
    width: 100%;
    table-layout: fixed;
}
.webkit{
    border: 1px solid black;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.table{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
}
.table_top_image{
    width: 504px;
    margin-left: 48px;
    margin-right: 48px;
}
.table_top_content{
    box-sizing: border-box;
    width: 504px;
    font-size: 19px;
    line-height: 24px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 25px;
    margin-bottom: 24px;
}
.table_top_button{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    box-sizing: border-box;
    letter-spacing: 0.125px;
    width: 97px;
    padding: 13px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 auto;
}
.two-columns{
    text-align: left;
    padding-top: 83px;
    padding-bottom: 63px;
}
.two-columns .columns{
    width: 100%;
    max-width: 252px;
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
}
.customize-heading{
    width: 252px;
    font-weight: bold;
    font-size: 27px;
    line-height: 34px;
}
.each-column{
    width: 252px;
    font-weight: 400;
    line-height: 24px;
    font-size: 19px;
}
.button{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    box-sizing: border-box;
    letter-spacing: 0.125px;
    width: 97px;
    padding: 13px;
    border: 1px solid black;
    border-radius: 4px;
}
.bottom{
    background-color: #E2D4FF;
}
.bottom-left-column, .bottom-right-column{
    border-spacing: 0;
    width: 100%;
    max-width: 252px;
    display: inline-block;
    vertical-align: top;
}
.left-content{
    margin-top: 34px;
    text-align: center;
}
.bottom-content{
    width: 252px;
}
.right-image img{
    padding: 33px;
}
.bottom-text{
    text-align: left;
    padding-left: 30.5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30.7px;
    padding-bottom: 40px;
}
.bottom-button{
    margin-left: 75px;
    margin-bottom: 38px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    box-sizing: border-box;
    letter-spacing: 0.125px;
    width: 97px;
    padding: 13px;
    border: 1px solid black;
    border-radius: 4px;
}
.border-line{
    border: 2px solid black;
    border-bottom: hidden;
    width: 80%;
    margin-left: auto;
    margin: auto;
}
.logos {
    margin: 0 auto;
}
.logos a{
    padding: 12px;
}
@media screen and (max-width: 400px){
    .middle-image-1{
        width: 200px !important;
        max-width: 200px !important;
    }
}
@media screen and (max-width: 600px){
    .middle-image-2{
        width: 200px !important;
        max-width: 200px !important;
    }
}